#Dependencies
DBBoW2/
eigen-eigen-5a0156e40feb
g20/
Pangolin/
opencv-3.4.0/

#Openvslam non personal folders
openvslam/3rd/
#Keep /build
openvslam/cmake/
openvslam/docs/
openvslam/example/
#Keep /ros folder
openvslam/src/
openvslam/test/
openvslam/viewer/

#Dont track the frames used to make videos
Videos/frames/
