
<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="world" default="empty"/> 
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" value="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_env)/worlds/museum_custom_map.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)" />
    </include>


    <!-- Spawn in my bot -->
    <param name="robot_description" textfile="$(find bot_description)/urdf/aal_bot.urdf"/>
    <node name="mybot_spawn" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        output="screen"
        args="-urdf 
        -param robot_description 
        -model aal_bot
        -x 0 -y 0 -z 1" />

    <!-- TF Tree -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node pkg="tf" type="static_transform_publisher" 
        name="odom_world_tf" 
        args="1 0 0 0 0 0 1 /odom /world 100" />


    <!-- Load in map -->
    <include file="$(find octomapping)/launch/oct_l.launch"/>

    <!-- fake localization instead of amcl -->
    <node pkg="fake_localization" 
        type="fake_localization"
        name="fake_localization"
        clear_params="true"
        output="screen">
        
            <remap from="base_pose_ground_truth" to="odom"/>
            <param name="global_frame_id" value="map"/>
            <param name="base_frame_id" value="base_link" />
    </node>

    <node 
        pkg="move_base" 
        type="move_base" 
        name="move_base" 
        output="screen"
    />
        

</launch>
