<launch>

    <arg name="point_cloud_file" 
        default="/home/conor/msc-project/pcd/2d/aal_easy_loop_long.pcd"
    />

    <node pkg="pcl_ros" 
        type="pcd_to_pointcloud" 
        name="show_pointcloud" 
        args="$(arg point_cloud_file) _frame_id:=/world" 
        output="screen" />

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.1" />
        <param name="frame_id" type="string" value="map" />
        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="100" />

        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/cloud_pcd" />
        <remap from="/projected_map" to="/map"/>

    </node>
    

</launch>
